.swiper.banner {
	height: 100vh;
	.swiper-button-prev,
	.swiper-button-next {
		left: 1rem;
		right: unset;
		bottom: 2rem;
		top: unset;
	}
	.swiper-button-next {
		left: 5rem;
	}
	.swiper-slide {
		&:nth-child(1) {
			background: linear-gradient(
					-45deg,
					transparent 50%,
					rgba($color-pastel-blue, 0.5) 50%,
					rgba($color-pastel-blue, 0.5) 75%,
					transparent 75%,
					transparent 100%
				),
				linear-gradient(90deg, $color-black 0%, transparent 100%),
				url("../../assets/media/images/banner/3.png");
			background-size: cover;
			background-position-x: 65%;
		}
		&:nth-child(2) {
			background: linear-gradient(
					-45deg,
					transparent 50%,
					rgba($color-pastel-blue, 0.5) 50%,
					rgba($color-pastel-blue, 0.5) 75%,
					transparent 75%,
					transparent 100%
				),
				linear-gradient(90deg, $color-black 0%, transparent 100%), 
				url("../../assets/media/images/banner/4.png");
			background-size: cover;
			background-position-x: 65%;
		}
		&:nth-child(3) {
			background: linear-gradient(
					-45deg,
					transparent 50%,
					rgba($color-pastel-blue, 0.5) 50%,
					rgba($color-pastel-blue, 0.5) 75%,
					transparent 75%,
					transparent 100%
				),
				linear-gradient(90deg, $color-black 0%, transparent 100%),
				url("../../assets/media/images/banner/4.png");
			background-size: cover;
			background-position-x: 65%;
		}
		&:nth-child(4) {
			background: linear-gradient(
					-45deg,
					transparent 50%,
					rgba($color-pastel-blue, 0.5) 50%,
					rgba($color-pastel-blue, 0.5) 75%,
					transparent 75%,
					transparent 100%
				),
				linear-gradient(90deg, $color-black 0%, transparent 100%),
				url("../../assets/media/images/banner/6.png");
			background-size: cover;
			background-position-x: 65%;
		}
		&.swiper-slide-active {
			.slide-content .title h2,
			.slide-content .desc p {
				opacity: 1;
				transform: translateX(0);
				transition: all 1.5s ease-in-out;
			}
			.slide-content .desc p {
				transition-delay: 0.5s;
			}
		}
		.slide-content {
			height: 100%;
			padding: calc(max(5%, 2rem));
			.title {
				h2 {
					color: white;
					text-transform: uppercase;
					opacity: 0;
					transform: translateX(-2rem);
					font-size: calc(max(5vw, 3rem));
					line-height: 1;
				}
				margin-bottom: 1.5rem;
			}
			.desc {
				p {
					color: white;
					opacity: 0;
					transform: translateX(-2rem);
					font-size: max(1.3rem, 1.2vw);
				}
			}
		}
	}
}
