footer {
	.contact-footer {
        border-bottom: 1px solid rgba($color: $color-white, $alpha: 0.3);
		padding: 1.5rem 0;
		background:
			repeating-linear-gradient(
				-45deg,
				rgba(255, 255, 255, 0.05) 0,
				rgba(255, 255, 255, 0.05) 1px,
				transparent 0,
				transparent 50%
			);
		background-size: 10px 10px;
		background-repeat: repeat;
		.cf-item {
			padding: 1rem;
			h3 {
				text-transform: uppercase;
				font-size: max(1.5rem, 1vw);
			}
			.icon{
				width: 5rem;
				aspect-ratio: 1;
				padding: 0.25rem;
				display: grid;
				place-items: center;
				background-color: $color-primary;
				position: relative;
				border-radius: 0.25rem;
				box-shadow: 0.5rem 0.5rem 0 0px rgba($color: $color-primary, $alpha: 0.3);
				margin-bottom: 1rem;
				// &::after{
				// 	content: '';
				// 	width: 100%;
				// 	height: 100%;
				// 	background-color: rgba($color: $color-primary, $alpha: 0.3);
				// 	position: absolute;
				// }
			}
		}
	}
    .other-links{
        padding: max(2rem, 5%) 0;
        .title{
            h3 {
				text-transform: uppercase;
				font-size: max(1.5rem, 1vw);
			}
        }
    }
}
