/*----------------------------------------------
    # Nav bar 
----------------------------------------------*/

nav.navbar{
    background-color: white;
    .navbar-brand{
        img{
            height: 60px;
            width: auto;
        }
    }
}