main {
	section {
		.title {
			position: relative;
			margin-bottom: 1rem;
			.section-pill {
				border-radius: 2rem;
				padding: 0.5rem 1rem;
				width: fit-content;
				font-size: 1.1rem;
				font-weight: 500;
				margin-bottom: 1rem;
				color: $color-white;
				background-color: $color-primary;
				&.pill-white {
					color: $color-primary-dark;
					background-color: $color-white;
				}
			}
			h2.section-title {
				text-transform: uppercase;
				font-weight: 700;
			}
		}
		&:not(.banner-section) {
			padding: calc(max(5%, 1rem)) 0;
			padding-top: calc(max(7%, 1.5rem));
			min-height: 50vh;
			overflow-x: hidden;
		}
		&#about-us {
			padding: 0;
			.media-content {
				position: relative;
				.img-overlap {
					position: relative;
					.img-front {
						position: absolute;
						z-index: 1;
						right: 3rem;
						bottom: -3rem;
					}
					.img-back {
						width: 100%;
					}
					.shape {
						position: absolute;
						z-index: -1;
						left: -5%;
						bottom: -10%;
					}
				}
				.img-text {
					position: absolute;
					width: calc(min(50%, 10rem));
					aspect-ratio: 1;
					top: 20%;
					right: 0;
					box-shadow: -8px 8px 10px 2px rgba($color: #000000, $alpha: 0.1);
				}
			}
			.quote {
				blockquote {
					font-size: calc(max(2.3vw, 3rem));
					line-height: 0.9;
					text-transform: uppercase;
					font-weight: 700;
				}
			}
			.text-content {
				.desc {
					padding-bottom: 1rem;
					border-bottom: 1px solid rgba($color: #000000, $alpha: 0.4);
					.read-more {
						&.collapsed {
							display: none;
							height: 0;
						}
					}
				}
				.cta {
					.persona {
						display: flex;
					}
				}
			}
		}
		&#services {
			padding: 0;
			position: relative;
			.videowrapper {
				position: absolute;
				z-index: 0;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				overflow: hidden;
				video {
					width: 100%;
					height: 100%;
					object-fit: cover;
					object-position: center;
				}
			}
			.swiper {
				.swiper-wrapper {
					align-items: center;
					transition-timing-function: linear;
				}
			}
			.text-content {
				position: relative;
				z-index: 1;
				padding: calc(max(5%, 1rem)) 0;
				padding-top: calc(max(7%, 1.5rem));
				min-height: 80vh;
				background-color: rgba($color-primary-dark, 0.8);
				background-size: cover;
				background-repeat: repeat;
				.title {
					h2 {
						color: $color-white;
					}
					p {
						color: $color-white;
					}
				}
			}
			.swiper .swiper-wrapper {
				flex-direction: row;
				gap: 1rem;
				padding: 1rem 0;
				.swiper-slide {
					margin: 0 !important;
				}
			}
			.services-slider {
				.swiper-slide {
					.card {
						margin: 0;
						.card-body {
							min-height: unset;
							padding: 1rem;
						}
					}
					&.swiper-slide-active {
						.testimonial-item {
							filter: grayscale(0);
						}
					}
				}
				// .testimonial-item {
				// 	filter: grayscale(1);
				// 	&:hover {
				// 		filter: grayscale(0);
				// 	}
				// }
			}
		}
		&.map-section {
			padding-bottom: 0;
			padding-top: 3rem;
			.media-content {
				.svg-map {
					path {
						fill: rgba($color-primary, 0.2);
					}
				}
			}
			.text-content {
				aside {
					h3,
					p {
						margin: 0;
					}
				}
			}
		}
		&#testimonials {
			min-height: fit-content;
			.testimonial-slider {
				.swiper-slide {
					.testimonial-item {
						filter: grayscale(1);
					}
					&.swiper-slide-active {
						.testimonial-item {
							filter: grayscale(0);
						}
					}
				}
				// .testimonial-item {
				// 	filter: grayscale(1);
				// 	&:hover {
				// 		filter: grayscale(0);
				// 	}
				// }
			}
		}
		&#contact-us {
			position: relative;
			padding: 0;
			min-height: fit-content;
			.videowrapper {
				position: absolute;
				z-index: 0;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				overflow: hidden;
				video {
					width: 100%;
					height: 100%;
					object-fit: cover;
					object-position: center;
				}
			}
			.text-content {
				position: relative;
				z-index: 1;
				padding: calc(max(5%, 1rem)) 0;
				padding-top: calc(max(7%, 1.5rem));
				min-height: fit-content;
				background-color: rgba($color-primary-dark, 0.8);
				.contact-footer {
					* {
						color: $color-white;
					}
					padding: 1.5rem 0;
					.cf-item {
						padding: 1rem;
						h3 {
							text-transform: uppercase;
							font-size: max(1.5rem, 1vw);
						}
						.icon {
							width: 5rem;
							aspect-ratio: 1;
							padding: 0.25rem;
							display: grid;
							place-items: center;
							background-color: $color-primary;
							position: relative;
							border-radius: 0.25rem;
							box-shadow: 0.5rem 0.5rem 0 0px
								rgba($color: $color-primary, $alpha: 0.3);
							margin-bottom: 1rem;
							// &::after{
							// 	content: '';
							// 	width: 100%;
							// 	height: 100%;
							// 	background-color: rgba($color: $color-primary, $alpha: 0.3);
							// 	position: absolute;
							// }
						}
					}
				}
			}
		}
		&#team {
			background: linear-gradient(
				-90deg,
				transparent 0%,
				transparent calc(min(100%, 48rem)),
				rgba($color: $color-primary, $alpha: 0.1) calc(min(100%, 48rem)),
				rgba($color: $color-primary, $alpha: 0.1) 100%
			);
			background-size: cover;
			.teams-desc {
				padding: 1.5rem 2rem;
			}
		}
		&#why-us {
			background: linear-gradient(
				0deg,
				transparent 0%,
				transparent 30%,
				rgba($color-primary-dark, 0.8) 30%,
				rgba($color-primary-dark, 0.8) 100%
			);
			color: $color-white;
			h2 {
				color: $color-white;
			}
		}
		&.text_mtm{
			padding-bottom: calc(max(25vw, 3rem));
			background: url("../media/images/backgrounds/background_01.jpg") no-repeat;
			background-size: cover;
			background-position-y: bottom;
			.title-text{
				text-decoration: underline;
				text-decoration-color: $color-white;
				text-transform: uppercase;
			}
			.desc-text{
				text-transform: capitalize;
			}
		}

		&.gandhi-quote {
			min-height: fit-content;
			padding: 2rem 0;
			.thumbnail-rounded {
				width: 100%;
				aspect-ratio: 1;
				border-radius: 0.5rem;
				overflow: hidden;
				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
					object-position: top;
				}
			}
		}
		&.wraper_text {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			width: 100%;
			min-height: max(12vh, 6rem);
			padding: 2rem 0;
		}
		&.text_tilted {
			padding: 0;
			padding-top: 0;
			color: #1747b5;
			overflow: hidden;
			background: #98b5d1;
			.text_special{
				font-family: "Edo", sans-serif !important;
			}
			.text-content{
				.text-highlighted{
					color: $color-white;
					width: fit-content;
					background-color: #1747b5;
					padding: 0 0.25rem;
				}
				blockquote{
					font-size: calc(max(3.5vw, 2rem));
					.equal{
						font-size: calc(max(10vw, 3rem));
						line-height: 0.7;
					}
				}
			}
			@media screen and (min-width: 1024px) {
				blockquote {
					width: fit-content;
					position: relative;
					transform-origin: 35% 0%;
					transform: rotateZ(-35deg);
				}
			}
		}
	}
	article.wrapper {
		section.wraper_text {
			position: sticky;
			top: 0;
			left: 0;
			width: 100%;
			background-color: $color-white;
			z-index: 20;
		}
	}
}
@media screen and (min-width: 1024px) {
	section{
		&.text-tilted{
			background: url("../media/images/backgrounds/paper_texture_blue.jpg") repeat-x, #98b5d1;
			background-size: 50% auto;
			background-position: left;
		}
	}
}
