/*---------------------------------------------------
	widget styles
----------------------------------------------------*/
$colors: (
	"white": $color-white,
	"primary": $color-primary,
	"dark": $color-primary-dark,
);

.btn,
.btn-lg {
	border: none;
	border-radius: 0;
	text-transform: uppercase;
	font-size: 1rem;
	@each $class, $color in $colors {
		&.btn-#{$class} {
			background-color: $color;
			box-shadow: 0 0 0 1px $color;
		}
		&.btn-#{$class}-outline {
			border: none;
			box-shadow: 0 0 0 1px $color;
			color: $color;
			&:hover {
				background: $color-white;
				box-shadow: 0 0 0 1px $color;
				border: none;
				color: $color-primary-dark;
			}
		}
	}
}
.btn-lg {
	font-weight: 600;
}

.widget-card-01 {
	width: 100%;
	height: 100%;
	border-radius: 0;
	border: none;
	padding-top: 2rem;
	position: relative;
	background: linear-gradient(
		190deg,
		$color-primary 0%,
		$color-primary 14%,
		rgba(0, 212, 255, 0) 14%,
		rgba(0, 212, 255, 0) 22%,
		white 22%,
		white 100%
	);
	&::after {
		position: absolute;
		content: "";
		width: 100%;
		height: 40px;
		top: -18%;
		transform: skewY(190deg);
		background-color: $color-primary;
	}
	.card-body {
		text-align: center;
		border: none;
		h3 {
			font-size: 4rem;
			margin-bottom: 0;
			line-height: 1;
		}
		p {
			margin-bottom: 0;
		}
	}
}

.widget-service-card {
	@mixin bg_normal($url) {
		background: url("../../assets/media/images/banner/3.png"),
			rgba($color-primary-dark, $alpha: 0.99);
		background-size: cover;
		background-blend-mode: soft-light;
	}
	@mixin bg_hover($url) {
		background: url("../../assets/media/images/banner/3.png"),
			rgba($color-primary-dark, $alpha: 0.6);
		background-size: cover;
		background-blend-mode: soft-light;
	}
	border-radius: 1rem;
	&.freight-service {
		@include bg_normal("../../assets/media/images/banner/3.png");
		&:hover {
			@include bg_hover("../../assets/media/images/banner/3.png");
		}
	}
	&.customs-clearance {
		@include bg_normal("../../assets/media/images/banner/3.png");
		&:hover {
			@include bg_hover("../../assets/media/images/banner/3.png");
		}
	}
	* {
		color: $color-white;
	}
	.card-body {
		background-color: transparent;
		border: none;
		.icon {
			width: 4rem;
			aspect-ratio: 1;
			border-radius: 50%;
			background-color: $color-white;
			border: 0.5rem solid $color-primary;
			margin-bottom: 1rem;
		}
		h5 {
			font-weight: 600;
			text-transform: uppercase;
		}
		.card-footer {
			text-align: left;
			background: none;
			padding: 1rem 0.2rem;
			padding-bottom: 0;
		}
	}
}

.widget-glassy-card {
	background: rgba($color: $color-white, $alpha: 0.1);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(10px);
	border: none;
	// border: 1px solid rgba($color: $color-white, $alpha: 0.3);
	.card-header {
		border-bottom: none;
		background-color: transparent;
		padding: 1rem 1rem 0;
		* {
			color: $color-white;
		}
	}
}

.widget-glassy-form {
	background-color: transparent;
	.form-control {
		background-color: rgba($color: $color-white, $alpha: 0.2);
		border: none;
		color: $color-white;
		border-radius: 0;
		&:focus {
			box-shadow: 0 0 0 1px #ddd;
		}
	}
	.form-label {
		color: $color-white;
	}
}

.widget-pointers_with_icon {
	.point {
		align-items: center;
		margin-bottom: 1.5rem;
		.icon {
			height: 3rem;
			aspect-ratio: 1;
			border-radius: 50%;
			background-color: $color-white;
			position: relative;
			z-index: 1;
			&::after {
				content: "";
				z-index: 0;
				position: absolute;
				width: 100%;
				height: 100%;
				aspect-ratio: 1;
				border: 1px solid white;
				border-radius: 50%;
				top: 0;
				left: -0.5rem;
			}
		}
		.text {
			font-weight: 600;
		}
	}
}

.widget-counter {
	padding: 1rem;
	border-top: 5px solid $color-primary;
	background: repeating-linear-gradient(
			-45deg,
			rgba(255, 255, 255, 0.1) 0,
			rgba(255, 255, 255, 0.1) 1px,
			transparent 0,
			transparent 50%
		),
		$color-primary-dark;
	background-size: 10px 10px, cover;
	background-repeat: repeat;
	.widget-counter-element {
		padding: 1rem;
		padding-right: 1.5rem;
		* {
			color: $color-white;
		}
		h3 {
			margin: 0;
			color: $color-primary;
			span {
				color: $color-primary;
			}
		}
		h4 {
			font-size: 1.3rem;
			text-transform: uppercase;
		}
		p {
		}
		&:not(:last-of-type) {
			border-right: 3px solid $color-primary;
		}
	}
}

.widget-scroll_to {
	position: fixed;
	z-index: 9999;
	bottom: 1rem;
	right: 1rem;
	width: 3rem;
	height: 3rem;
	cursor: pointer;
	border-radius: 50%;
	border: 5px solid $color-primary;
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.widget-signature {
	img {
	}
	.position {
		padding: 0;
		font-size: 0.7rem;
		border-top: 1px solid rgba($color: #000000, $alpha: 0.4);
	}
}
