/*---------------------------------------------------
	widget styles
----------------------------------------------------*/
$colors: (
	"white": $color-white,
	"primary": $color-primary,
	"dark": $color-primary-dark,
	"red": $color-red,
);

@for $i from 1 to 10 {
	.text-full-#{$i} {
		@if($i > 5){
			font-size: calc(max(#{$i}vw, 3rem)) !important;
		} @elseif($i > 3){
			font-size: calc(max(#{$i}vw, 2rem)) !important;
		} @else{
			font-size: calc(max(#{$i}vw, 1.2rem)) !important;
		}
	}
}
.text-uppercase {
	text-transform: uppercase !important;
}

.bg-primary-translucent {
	background-color: rgba($color: $color-primary, $alpha: 0.2);
}

.quote {
	&.quote-xl {
		blockquote {
			font-size: calc(max(5vw, 3rem));
			line-height: 1.3;
			font-weight: 500;
			text-transform: capitalize;
		}
	}
}
@each $class, $color in $colors {
	.text-#{$class} {
		color: $color !important;
	}
}

.btn,
.btn-lg {
	border: none;
	border-radius: 0;
	text-transform: uppercase;
	font-size: 1rem;
	@each $class, $color in $colors {
		&.btn-#{$class} {
			background-color: $color;
			box-shadow: 0 0 0 1px $color;
		}
		&.btn-#{$class}-outline {
			border: none;
			box-shadow: 0 0 0 1px $color;
			color: $color;
			&:hover {
				background: $color-white;
				box-shadow: 0 0 0 1px $color;
				border: none;
				color: $color-primary-dark;
			}
		}
	}
}
.btn-lg {
	font-weight: 600;
}

.icon {
	&._sea__air__fright {
		background-position: 6px -200px !important;
	}
	&._custom__clearance {
		background-position: -60px -135px !important;
	}
	&._warehousing {
		background-position: -62px -70px !important;
	}
	&._transport__planning {
		background-position: -57px -195px !important;
	}

	&._collaborative__customer {
		background-position: 0px -98px !important;
	}
	&._optimized__network {
		background-position: -47px 0px !important;
	}
	&._industry__expertise {
	}
	&._flexible__transportation {
		background-position: 0px -50px !important;
	}
}

.widget-card-01 {
	width: 100%;
	height: 100%;
	border-radius: 0;
	border: none;
	padding-top: 2rem;
	position: relative;
	background: linear-gradient(
		190deg,
		$color-primary 0%,
		$color-primary 14%,
		rgba(0, 212, 255, 0) 14%,
		rgba(0, 212, 255, 0) 22%,
		white 22%,
		white 100%
	);
	&::after {
		position: absolute;
		content: "";
		width: 100%;
		height: 40px;
		top: -18%;
		transform: skewY(190deg);
		background-color: $color-primary;
	}
	.card-body {
		text-align: center;
		border: none;
		h3 {
			font-size: 4rem;
			margin-bottom: 0;
			line-height: 1;
		}
		p {
			margin-bottom: 0;
		}
	}
}

.widget-service-card {
	position: relative;
	background: rgba($color: $color-white, $alpha: 0.1);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(10px);
	margin: 2rem 0;
	border: none;
	box-shadow: 2px 4px 10px 0 rgba($color: $color-primary-dark, $alpha: 0.1);
	* {
		color: $color-white;
	}
	.icon {
		position: absolute;
		top: -2.5rem;
		left: 50%;
		transform: translateX(-50%);
		width: 5rem;
		aspect-ratio: 1;
		border-radius: 50%;
		background: url("../media/icons/sprite-black.png"), $color-white;
		background-repeat: no-repeat;
		background-size: 200%;
		border: 0.5rem solid $color-primary;
		margin-bottom: 1rem;
	}
	.card-body {
		background-color: transparent;
		border: none;
		padding: 2rem;
		padding-top: 3rem;
		min-height: 400px;
		h4 {
			font-weight: 600;
			text-transform: uppercase;
			text-align: center;
		}
	}
}

.widget-glassy-card {
	background: rgba($color: $color-white, $alpha: 0.1);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(10px);
	border: none;
	// border: 1px solid rgba($color: $color-white, $alpha: 0.3);
	.card-header {
		border-bottom: none;
		background-color: transparent;
		padding: 1rem 1rem 0;
		* {
			color: $color-white;
		}
	}
}

.widget-glassy-card-black {
	background: rgba($color: $color-primary-dark, $alpha: 0.5);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(10px);
	border: none;
	// border: 1px solid rgba($color: $color-white, $alpha: 0.3);
	.card-header {
		border-bottom: none;
		background-color: transparent;
		padding: 1rem 1rem 0;
		* {
			color: $color-white;
		}
	}
}

.widget-testimonial-card {
	border: none;
	background: none;
	position: relative;
	@media screen and (min-width: 1024px) {
		&.relative-top {
			position: relative;
			top: -7rem;
		}
	}
	.image {
		position: absolute;
		top: 5%;
		left: -10%;
		width: max(6vw, 3rem);
		aspect-ratio: 1;
		background-color: $color-white;
		border-radius: 50%;
		overflow: hidden;
	}
	.card-header {
		background: transparent;
		border-bottom: none;
		padding: 0;
		margin-left: 3rem;
		* {
			margin-bottom: 0;
			line-height: 1;
		}
		h3,
		p {
			width: fit-content;
		}
		h3 {
			text-transform: uppercase;
		}
	}
	.card-body {
		background-color: white;
		padding: 0;
		border-radius: 0.5rem;
		box-shadow: 6px 6px 10px 2px rgba($color: $color-primary-dark, $alpha: 0.1);
		.text-content {
			max-height: max(35vh, 15rem);
			overflow-y: scroll;
			margin: 1.5rem;
			margin-left: 3rem;
		}
	}
}

.widget-teams-slider {
	.swiper-slide {
		.media-content {
			width: 100%;
			aspect-ratio: 1.3;
			overflow: hidden;
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				object-position: top;
			}
		}
	}
}

.widget-glassy-form {
	background-color: transparent;
	.form-control {
		background-color: rgba($color: $color-white, $alpha: 0.2);
		border: none;
		color: $color-white;
		border-radius: 0;
		&:focus {
			box-shadow: 0 0 0 1px #ddd;
		}

		&::placeholder {
			color: rgba($color: $color-white, $alpha: 0.5);
		}
	}
	.form-label {
		color: $color-white;
	}
}

.widget-pointers_with_icon {
	.point {
		align-items: center;
		margin-bottom: 1.5rem;
		.icon {
			height: 3rem;
			aspect-ratio: 1;
			border-radius: 50%;
			background: url("../media/icons/sprite-black.png"), $color-white;
			background-repeat: no-repeat;
			background-size: 200%;
		}
		.text {
			font-weight: 600;
		}
	}
}

.widget-counter {
	padding: 1rem;
	border-top: 5px solid $color-primary;
	background: repeating-linear-gradient(
			-45deg,
			rgba(255, 255, 255, 0.1) 0,
			rgba(255, 255, 255, 0.1) 1px,
			transparent 0,
			transparent 50%
		),
		$color-primary-dark;
	background-size: 10px 10px, cover;
	background-repeat: repeat;
	.widget-counter-element {
		padding: 1rem;
		padding-right: 1.5rem;
		* {
			color: $color-white;
		}
		h3 {
			margin: 0;
			color: $color-primary;
			span {
				color: $color-primary;
			}
		}
		h4 {
			font-size: 1.3rem;
			text-transform: uppercase;
		}
		p {
		}
		&:not(:last-of-type) {
			border-right: 3px solid $color-primary;
		}
	}
}

.widget-scroll_to {
	position: fixed;
	z-index: 9999;
	bottom: 1rem;
	right: 1rem;
	width: 3rem;
	height: 3rem;
	cursor: pointer;
	border-radius: 50%;
	border: 5px solid $color-primary;
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.widget-signature {
	img {
	}
	.position {
		padding: 0;
		font-size: 0.7rem;
		border-top: 1px solid rgba($color: #000000, $alpha: 0.4);
	}
}

ul.widget-list {
	li {
		list-style: none;
		&::before {
			content: "";
			border-color: transparent $color-primary;
			border-style: solid;
			border-width: 0.5em 0 0.5em 0.7em;
			display: block;
			height: 0;
			width: 0;
			left: -1.3em;
			top: 1.3em;
			position: relative;
		}
	}
}
